{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('src/Public/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Administration</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
    <div class="row">
        <div class="mx-auto col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                {{ countUnvalidatedPost }} posts à valider (affichage max. 5)
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionExample">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <th scope="row">{{ post.pseudo }}</th>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.createdAt }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></i>
                                        </button>
                                        <button type="button" class="btn btn-success"><i class="fas fa-check"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}