<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="src/Public/css/style.css">
    {% block head %}{% endblock %}
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% block content %} {% endblock %}
{% block javascript %} {% endblock %}
</body>