{% extends 'base.html.twig' %}

{% block title %}
    Crée ton post !
{% endblock %}

{% block content %}
    <header class="masthead"
            style="background-image: url('{{ "/" ~ constant("ROOT_DIR") ~ "/Public/img/post-bg.jpg" }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h2>Création de votre post !</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-5">
                {% if message != null %}
                    <div class="alert alert-{{ class }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="post" action="create-post">
                    <div class="control-group">
                        <div class="form-group controls">
                            <label for="title">Titre :</label>
                            <input type="text" class="form-control" id="title" name="title"
                                   required="" value="{{ title }}">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-3">
                            <label for="lead">Chapô :</label>
                            <input type="text" class="form-control" id="lead" name="lead"
                                   required="">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group controls mb-3">
                            <label for="content">Post :</label>
                            <textarea id="content" name="content"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right mt-3">Poster</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
{% endblock %}
