{% block content %}
    <form method="post" action="../createAnswer/{{ idPost }}">
        <textarea id="answer" name="answer"></textarea>
        <button type="submit" class="btn btn-primary float-right m-3">Répondre</button>
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
{% endblock %}
