{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('src/Public/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Mon Blog</h1>
                        <span class="subheading">Un blog réalisé avec PHP et Twig</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-4">
                <img src="src/Public/img/logo-home.webp" alt="Logo Home" class="home-img">
            </div>
            <div class="col-lg-8 text-center">
                <p>Mathias Micheli, développeur en alternance.</p>
                <a class="btn btn-primary" href="src/Public/files/CV.pdf" target="_blank">Télécharger mon CV →</a>
                <br><br>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/mathias-micheli/" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:mathias.micheli@outlook.fr">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-google fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/mathias73/" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="src/Public/js/clean-blog.min.js"></script>
{% endblock %}
