{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('src/Public/img/home-bg.jpg'); height: 75%;!important;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Connexion</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-5">
                {% if message != null %}
                    <div class="alert alert-{{ class }}">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                {% if session %}
                    <p>Vous êtes déjà connecté</p>
                {% endif %}
                {% if session == null %}
                    <p>Connectez vous !</p>
                    <form action="signIn" method="post">
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="pseudo">Pseudo :</label>
                                <input type="text" class="form-control" id="pseudo" name="pseudo" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="password">Mot de passe :</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input " id="remember" name="remember">
                                <label class="form-check-label" for="remember">Rester connecté ?</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Je me connecte</button>
                    </form>
                    <button class="btn btn-primary" onclick="showForm('newForm')">Mot de passe oublié ?</button>
                    <div id="newForm">
                        <form action="sendNewPassword" method="post" class="mt-5">
                            <h3>Demander un nouveau mot de passe : </h3>
                            <div class="control-group">
                                <div class="form-group controls">
                                    <label for="email">Email :</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Envoyer</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        function showForm(ele) {
            var newFormDiv = document.getElementById(ele);
            if (newFormDiv != null) {
                if (newFormDiv.style.display === "block") {
                    newFormDiv.style.display = 'none';
                } else {
                    newFormDiv.style.display = 'block';
                }
                return false;
            }
        }

    </script>
{% endblock %}
