{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <header class="masthead" style='background-image: url("{{ '/' ~ constant('ROOT_DIR') ~ '/Public/img/home-bg.jpg'}}"); height: 75%;!important;'>>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto ">
                    <div class="site-heading">
                        <h1>Inscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-5">
                {% if session %}
                    <p>Déconnecté vous pour créer un nouveau compte</p>
                {% endif %}
                {% if session == null %}
                    <p>Inscrivez-vous pour avoir accès à tous les posts du blog !</p>
                    <form action="signUp" method="post">
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="nom">Nom :</label>
                                <input type="text" class="form-control" id="nom" name="nom" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="prenom">Prénom :</label>
                                <input type="text" class="form-control" id="prenom" name="prenom" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="pseudo">Pseudo :</label>
                                <input type="tel" class="form-control" id="pseudo" name="pseudo" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="email">Email :</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="password">Mot de passe :</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right mt-3">Je m'inscris !</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
