.answer {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: #6879cc 3px solid;
    border-left: #6879cc 3px solid;
    border-right: #6879cc 3px solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.info {
    font-size: smaller;
    font-weight: bold;
}

.panel {
    background-color: #6879cc;
    color: white;
    padding-left: 12px;
    border-radius: 3px;
}