.timeline-element
{
    background-color: #0085a1;
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 20px;
}

.timeline-container
{

}


.main {
    width: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
}

.active.item .line, .active.item .line > .node {
    background: #0085a1;
}


.item {
    flex: 1;
    width: 100%;
}

.line {
    position: relative;
    display: block;
    width: 10px;
    height: 150px;
    background: #7f8c8d;
}

.node {
    position: absolute;
    bottom: -20px;
    left: -20px;
    display: block;
    width: 50px;
    height: 50px;
    background: #7f8c8d;
    border-radius: 25px;
}